#ignore swap files
*.swp

# ignore npm stuff
node_modules/
.eslintrc.json

# ignore folders
logs/*.json
logs/*.log

# ignore test.js since its just for local testing
test.js
derp.json

configuration.json
